.symbolsView__chart {
  padding: 12px;
  width: 20%;
}

.symbolsView {
  display: grid;
  grid-template-columns: 70em 15em;
}

.symbolsView__cards {
  width: 80%;
}

.symbolGrid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 15em);
}
