.symbolsView__chart {
  padding: 1em;
}

.symbolsView {
  display: flex;
}

.symbolsView__cards {
  flex-basis: 70%;
}

.symbolGrid {
  display: flex;
  flex-flow: wrap;
}

@media(max-width: 1072px) {
  .symbolsView {
    flex-direction: column-reverse;
    flex-basis: 100%;
  }
  .symbolsView__chart {
    width: 70%;
  }  

}